@tailwind base;
@tailwind components;
@tailwind utilities;


:root  {
  --background: 47 83% 95%;
  --foreground: 47 5% 10%;
  --card: 47 50% 90%;
  --card-foreground: 47 5% 15%;
  --popover: 47 83% 95%;
  --popover-foreground: 47 95% 10%;
  --primary: 47 63% 77%;
  --primary-foreground: 0 0% 0%;
  --secondary: 47 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 9 30% 85%;
  --muted-foreground: 47 5% 40%;
  --accent: 9 30% 80%;
  --accent-foreground: 47 5% 15%;
  --destructive: 0 83% 50%;
  --destructive-foreground: 47 5% 90%;
  --border: 47 30% 67%;
  --input: 47 30% 50%;
  --ring: 47 63% 77%;
  --radius: 0.75rem;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
